{% extends 'base.html.twig' %}

{% block title %}Compétences{% endblock %}

{% block body %}
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 title-home">

                    <div id="upper_left-corner"></div>
                    <div id="upper_right-corner"></div>
                    <div id="lower_left-corner"></div>
                    <div id="lower_right-corner"></div>

                    <div class="row">
                        <div class="col-12 col-sm-8 col-md-9 col-lg-10 title-home-text">
                            Compétences /
                        </div>
                        <div class="col-12 col-sm-4 col-md-3 col-lg-2 text-center">
                            <a class="return-next-link" href="{{ path('app_index') }}">
                                Retour à l'index
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 flipboard-boxes">
                    <div class="row justify-content-center">
                        <div class="col-lg-12">
                            <div class="card">

                                <div id="upper_left-news"></div>
                                <div id="upper_right-news"></div>
                                <div id="lower_left-news"></div>
                                <div id="lower_right-news"></div>

                                <img class="card-img-top"
                                     src="{{ asset('images/skill_cockpit.jpg') }}"
                                     alt="Card image cap">

                                <div class="card-body">

                                    <h4 class="card-subtitle">TYPE / <span class="type-group">information /</span></h4>
                                    <h3 class="card-title">
                                        Le savoir-faire est la clé
                                    </h3>
                                    <p class="card-text">
                                        J'ai été accompagné par des Mentors qui m'ont guidé vers les bonnes
                                        pratiques du développement. <br>
                                        Il est primordial de savoir comment et pourquoi un code fonctionne.
                                    </p>
                                    <div class="col-lg-12 table-text">

                                        <div id="upper_left-corner"></div>
                                        <div id="upper_right-corner"></div>
                                        <div id="lower_left-corner"></div>
                                        <div id="lower_right-corner"></div>

                                        Listé ci-dessous, ce que je suis capable de faire :<br>
                                        <ul>
                                            <li>Organiser et mettre en place un projet en
                                                respectant une méthodologie</li>
                                            <li>Produire des diagrammes UML</li>
                                            <li>Ecrire et estimer des Issues</li>
                                            <li>Créer une application selon un cahier des
                                                charges, tant en Backend qu'en Frontend</li>
                                            <li>Créer une API REST</li>
                                            <li>Analyser et optimiser les performances d’une application</li>
                                            <li>Assurer la maintenance d’une application</li>
                                            <li>Gérer une équipe en planifiant une stratégie</li>
                                            <li>Gérer une guilde et sa trésorerie</li>
                                            <li>Parler trois langues différentes, le français, l'allemand et l'anglais</li>
                                        </ul>
                                    </div>
                                    <p>
                                        Le truc magique avec le code, c'est qu'on a jamais fini d'apprendre.<br>
                                    </p>
                                </div>
                                <div class="card-footer text-right">
                                    <a class="return-next-link" href="{{ path('app_presentation') }}">
                                        Page Précédente
                                    </a>
                                    <a class="return-next-link " href="{{ path('app_project') }}">
                                        Page Suivante
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
